.modal_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 1px solid #e9ecef;
}

.modal_header .header_right{
    cursor: pointer;
}

.modal_body{
    padding: 16px;
}

.modal_body .body_content{
    padding: 24px 16px 16px;
}

.body_content .input_full{
    width: 100%;
    margin-bottom: 1rem;
    
}

.input_full>div{
    margin-bottom: .5rem !important;
}


.mid_box{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.body_content .input_mid{
    display: flex;
    width: 100% !important;
    gap: 10px;
    margin-bottom: 1rem;

}
.body_content .input_mid>div{
    display: flex;
    width: 100% !important;

}

.btn{
    margin-top: 1rem;
}